<!DOCTYPE html>
<html lang="en" ng-app="penkit">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PENKIT">
    <title>PENKIT</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/penkit.css" rel="stylesheet">
	<script src="/socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-0.13.2.min.js"></script>

	<script type="text/javascript" src="client.js"></script>
  </head>

  <body role="document" ng-controller="PenkitController">
    <script type="text/ng-template" id="send_popover.html">
        <div class="overlay" style="width: 8em">
          <span class="text-center"><strong>{{state}}</strong></span>
        </div>
    </script>
    <script type="text/ng-template" id="sex_popover.html">
        <div class="overlay">
          <span class="text-center"><strong>SUKUPUOLI!</strong></span>
        </div>
    </script>
    <script type="text/ng-template" id="team_popover.html">
        <div class="overlay">
          <span class="text-center"><strong>TIIMI!</strong></span>
        </div>
    </script>
    <script type="text/ng-template" id="name_popover.html">
        <div class="overlay">
          <span class="text-center"><strong>NIMI!</strong></span>
        </div>
    </script>
    <script type="text/ng-template" id="weight_popover.html">
        <div class="overlay">
          <span class="text-center"><strong>PAINO!</strong></span>
        </div>
    </script>
    <script type="text/ng-template" id="display_wilks_popover.html">
        <div class="overlay">
          <span class="text-center"><strong>+{{calculateWilks(user.weight) | number:2}}wilks</strong></span>
        </div>
    </script>


	<form name="form">
    <div class="col-sm-12">
        <h1 class="form-group text-left">PENKIT
            <button type="button"
                     data-toggle="collapse"
                class="btn btn-default btn-sm" ng-click="user.details = !user.details">
                <div ng-show="user.details">PIILOTA OSA SYÖTTEISTÄ</div>
                <div ng-hide="user.details">NÄYTÄ KAIKKI SYÖTTEET</div>
            </button>
        </h1>
	</div>
    <div collapse="user.details">
        <div class="col-sm-12">
            <p>{{user.team}}, {{user.name}}, {{user.weight}} KG</p>
        </div>
    </div>
    <div collapse="!user.details">
        <div class="col-sm-12 form-group">
            <input 	type="text"
                    ng-model="user.team"
                    popover-template="'team_popover.html'"
                    popover-trigger="focus"
                    class="form-control input-lg" placeholder="PENKKITIIMIN NIMI" ng-change="user.team=user.team.toUpperCase()" required>
        </div>
        <div class="col-sm-12 form-group">
            <input 	type="text"
                    ng-model="user.name"
                    popover-template="'name_popover.html'"
                    popover-trigger="focus"
                    class="form-control input-lg" placeholder="NOSTAJAN NIMI" ng-change="user.name=user.name.toUpperCase()" required>
        </div>
        <div class="col-sm-6 form-group">
            <select ng-model="user.sex"
                    popover-template="'sex_popover.html'"
                    popover-trigger="focus"
                    class="form-control input-lg">
                <option value="MALE">MIES</option>
                <option value="FEMALE">NAINEN</option>
            </select>
        </div>
        <div class="col-sm-6 form-group">
            <input 	type="number" step="1" min="40"
                    ng-model="user.weight"
                    popover-template="'weight_popover.html'"
                    popover-trigger="focus"
                    class="form-control input-lg" placeholder="NOSTAJAN PAINO" required>
        </div>
    </div>
	<div class="col-sm-12 form-group">
        <div class="input-group">
		<span class="input-group-btn">
        <button type="button"
                class="btn btn-default btn-lg" ng-click="user.lift=user.lift - 5">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
        </span>
        <input 	type="number" step="1" min="20"
				ng-model="user.lift"
                popover-template="'display_wilks_popover.html'"
                popover-trigger="focus"
				class="form-control input-lg" placeholder="NOSTOKILOT" required>
        <span class="input-group-btn">
        <button type="button"
                class="btn btn-default btn-lg" ng-click="user.lift=user.lift + 5">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        </span>
    </div>
	</div>
	<div class="col-sm-12 form-group">
		<button type="button"
                popover-template="'send_popover.html'"
                popover-trigger="focus"
                class="btn btn-default btn-lg btn-block" ng-click="addLift(form)">NOSTA!</button>
	</div>
	</form>
	<table class="col-sm-4 form-group table table-striped">
		<thead>
			<tr>
				<th class="col-sm-4"></th>
				<th class="col-sm-4">
					<a ng-click="user.predicate='-dkg'" class="btn btn-default pull-right">
                        <strong>KG&nbsp;</strong>
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    </a>
				</th>
				<th class="col-sm-4">
					<a ng-click="user.predicate='-dwk'" class="btn btn-default pull-right">
                        <strong>WILKS&nbsp;</strong>
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    </a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="team in teams | orderBy:user.predicate">
				<td>{{team._id}}</td>
				<td class="text-right showDiff-{{showDiff}}">
					<span ng-hide="showDiff"><strong>{{team.kg | number:2}}</strong></span>
					<span ng-show="showDiff"><strong>+{{team.dkg | number:2}}</strong></span>
				</td>
				<td class="text-right showDiff-{{showDiff}}">
					<span ng-hide="showDiff"><strong>{{team.wk | number:2}}</strong></span>
					<span ng-show="showDiff"><strong>+{{team.dwk | number:2}}</strong></span>
				</td>
			</tr>
		</tbody>
	</table>
  </body>
</html>
